@using TMS.Models
@model TMS.ViewModels.EmployeeIndexViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Title = model.Employee.FirstName)
        </dt>

        <dd>
            @Html.Title = model.Employee.FirstName)
        </dd>

        <dt>
            @Html.Title = model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Employee.LastName)
        </dt>
       
        <dd>
            <table class="table">
                @foreach (var item in Model.Competency.Employee_Competencies)
<tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Employee.Email)
                        </td>
                    </tr>model.Employee.Phone);


#line default
#line hidden

#line 11 "C:\Users\Andreea\documents\visual studio 2015\Projects\TMS\TMS\Views\Employee\Details.cshtml"
        __o = Html.DisplayFor(model => model.Employee.Phone);
    }
            </table>
        </dd>
        
    </dl>
</div>
<p>
    @Html.DisplayNameFor(model => model.Employee.Email) |
    @Html.DisplayFor(model => model.Employee.Email)
</p>
