@model TMS.ViewModels.UserViewModel

@{
    ViewBag.Title = "Edit Schedule";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div>
        <hr />
        @Html.HiddenFor(model => model.user.id)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.user.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.user.username, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.RoleList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (TMS.localhostUser.Role role in Model.RoleList)
                {
                    <label>
                        <input type="checkbox" value="@role.id" name="roleIds" />
                        @role.role_name
                    </label>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

}
