@model TMS.Models.Job

@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customer.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.cvr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.cvr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.telefone)
        </dd>


    </dl>
    <p>
        @Html.ActionLink("Create New", "Create", new { customerid = Model.customer.id })
    </p>
    <table class="table">
        <tr>
            <th>
                Address
            </th>
            <th>
                startDate
            </th>
            <th>
                endDate
            </th>
            <th></th>
        </tr>

        @if (Model.jobList != null)
        {   
            foreach (var item in Model.jobList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endDate)
                </td>
                @*@foreach (var item2 in item.competencies)
                {
                    @Html.DisplayFor(modelItem => item2.competency)
                }*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
            }
        }

    </table>


</body>
</html>
